@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  touch-action: pan-x pan-y;
  color: rgb(49, 49, 49);
}

#root {
  height: 100%;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

.rotate90degrees {
  transform: rotate(90deg);
}

/* svg arrows */

svg.actionHint {
  width: 80px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
}

svg.actionHint polygon,
svg.actionHint path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

svg.actionHint polygon,
svg.actionHint path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: rgb(49, 49, 49);
}

svg.actionHint .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

svg.actionHint .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* svg arrows */

.swiper-container,
.swiper-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

.swiper-wrapper .swiper-slide {
  /* display: flex; */
  /* align-items: center; */
  width: 50vw;
}

@media screen and (max-width: 800px) {
  .swiper-wrapper .swiper-slide {
    width: 100vw;
  }
}

.swiper-slide img {
  max-width: 780px;
  max-height: 655px;
}

.projectInfo {
  margin: 14px 0 13px 0;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  bottom: 1px;
  left: 0;
}

.projectInfo h2 {
  margin: 3px;
}

.projectInfo h3 {
  margin: 8px 8px 8px 0;
}

.projectInfo .category,
.projectInfo .medium {
  text-transform: none;
  opacity: 0.4;
}

.projectInfo .medium {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  font-style: italic;
  padding: 0px 7px 1px 7px;
}

.thumbContainer {
  margin: auto;
  opacity: 1;
  font-size: max(1rem, 24px);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.thumbContainer p {
  margin-top: 5px;
  padding: 40px 70px;
  line-height: 1.5;
  margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .thumbContainer p {
    line-height: 1.6;
    padding: 0 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 20px;
  }
}

.thumbContainer a:link,
a:visited {
  color: rgb(49, 49, 49);
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
}

.thumbContainer a:hover,
a:active {
  color: rgba(144, 143, 143, 0.748);
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .thumbContainer {
    padding: 0 20px;
  }
}

.thumbContainer img {
  display: block;
  position: relative;
  width: 450px;
  /* margin: auto; */
  max-width: 100%;
  max-height: calc(255px + 40vh);
  object-fit: contain;
  padding-bottom: 62px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper .first-slide {
  flex-direction: column;
  width: 100vw !important;
  background-color: #fff !important;
  display: flex;
  align-items: center;
}

.first-slide h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.4;
  width: 100%;
  margin-top: 100px;
}

.timeline {
  border-top: 4px solid rgb(49 49 49 / 86%);
  margin-bottom: 12px;
}

.timeline::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid rgb(49 49 49 / 86%);
  background-color: #f5f2e6;
  transition: background-color 0.3s;
  bottom: 37px;
  left: 50%;
}

.swiper-slide-active .timeline::after {
  /* background-color: #ffeda1; */
  background-color: #8c52ff;
  /* border-color: #ffeda1; */
  border-color: #8c52ff;
}

/* animation */
@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  -webkit-animation: scroll ease 1.5s infinite;
  animation: scroll ease 1.5s infinite;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

div.timeline.absent::after {
  display: none;
}

.graphic {
  background: #ffeea145;
  height: 100%;
}

.future {
  background-color: #e0d1ff72;
  height: 100%;
}

.past {
  /* background-color: #dadada78; */

  height: 100%;
}

.swiper-slide div.thumbContainer.sources {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.swiper-slide[data-swiper-slide-index='10'] .thumbContainer {
  background-color: rgb(245, 245, 245);
}
.swiper-slide[data-swiper-slide-index='9'] .thumbContainer {
  background-color: rgb(240, 240, 240);
}
.swiper-slide[data-swiper-slide-index='8'] .thumbContainer {
  background-color: rgb(235, 235, 235);
}
.swiper-slide[data-swiper-slide-index='7'] .thumbContainer {
  background-color: rgb(230, 230, 230);
}
.swiper-slide[data-swiper-slide-index='6'] .thumbContainer {
  background-color: rgb(225, 225, 225);
}
.swiper-slide[data-swiper-slide-index='5'] .thumbContainer {
  background-color: rgb(220, 220, 220);
}
.swiper-slide[data-swiper-slide-index='4'] .thumbContainer {
  background-color: rgb(215, 215, 215);
}
.swiper-slide[data-swiper-slide-index='3'] .thumbContainer {
  background-color: rgb(210, 210, 210);
}
.swiper-slide[data-swiper-slide-index='2'] .thumbContainer {
  background-color: rgb(205, 205, 205);
}
.swiper-slide[data-swiper-slide-index='1'] .thumbContainer {
  background-color: rgb(200, 200, 200);
}
.swiper-slide[data-swiper-slide-index='25'] .thumbContainer {
  background-color: rgb(255 118 101 / 99%);
}
