@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  touch-action: pan-x pan-y;
}

#root {
  height: 100%;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

.rotate90degrees {
  transform: rotate(90deg);
}

/* svg arrows */

svg.actionHint {
  width: 80px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
}

svg.actionHint polygon,
svg.actionHint path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

svg.actionHint polygon,
svg.actionHint path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #000;
}

svg.actionHint .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

svg.actionHint .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* svg arrows */

.swiper-container,
.swiper-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  width: 50vw;
}

@media screen and (max-width: 800px) {
  .swiper-wrapper .swiper-slide {
    width: 100vw;
  }
}

.swiper-slide img {
  max-width: 780px;
  max-height: 655px;
}

.projectInfo {
  margin: 14px 0 13px 0;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  bottom: 1px;
  left: 0;
}

.projectInfo h2 {
  margin: 0;
}

.projectInfo h3 {
  margin: 8px 8px 8px 0;
}

.projectInfo .category,
.projectInfo .medium {
  text-transform: none;
  opacity: 0.4;
}

.projectInfo .medium {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  font-style: italic;
  padding: 0px 7px 1px 7px;
}

.thumbContainer {
  margin: auto;
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .thumbContainer {
    padding: 0 20px;
  }
}

.thumbContainer img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: calc(255px + 43vh);
  padding-left: 40px;
}

.swiper-wrapper .first-slide {
  flex-direction: column;
  width: 100vw !important;
}

.first-slide h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.4;
  width: 100%;
  margin-top: 100px;
}

.timeline {
  border-top: 4px solid black;
}

.timeline::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: white;
  transition: background-color 0.3s;
  bottom: 27px;
  left: 50%;
}

.swiper-slide-active .timeline::after {
  background-color: #4012aa;
  border-color: white;
}

/* animation */
@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  -webkit-animation: scroll ease 1.5s infinite;
  animation: scroll ease 1.5s infinite;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

div.timeline.absent::after {
  display: none;
}
