@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100%;
  background-color: #fff;
  touch-action: pan-x pan-y;
  color: rgb(49, 49, 49);
}

#root {
  height: 100%;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}

.rotate90degrees {
  transform: rotate(90deg);
}

/* svg arrows */

svg.actionHint {
  width: 80px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
  stroke: currentColor;
  color: transparent;
}

svg.actionHint polygon,
svg.actionHint path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill: #00000036;
}

svg.actionHint polygon,
svg.actionHint path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}

svg.actionHint .arrow {
  animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

svg.actionHint .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* svg arrows */

.swiper-container,
.swiper-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

.swiper-wrapper .swiper-slide {
  /* display: flex; */
  /* align-items: center; */
  width: 50vw;
}

@media screen and (max-width: 800px) {
  .swiper-wrapper .swiper-slide {
    width: 100vw;
  }
}

.swiper-slide img {
  max-width: 780px;
  max-height: 655px;
}

.projectInfo {
  /* margin: 14px 0 13px 0; */
  padding-bottom: 14px;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0;
  background: #281d42;
}

.projectInfo h2 {
  margin: 3px;
  color: white;
}

.projectInfo h3 {
  margin: 8px 8px 8px 0;
}

.projectInfo .category,
.projectInfo .medium {
  text-transform: none;
  opacity: 0.4;
}

.projectInfo .medium {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  font-style: italic;
  padding: 0px 7px 1px 7px;
}

.thumbContainer {
  /* margin: auto;
  opacity: 1; */
  font-size: max(1rem, 24px);
  /* padding: 0 24px; */
  display: flex;
  flex-direction: column;
  border: 5px solid #000000;
  border-top: 0;
  border-bottom: 0;
  position: relative;
  overflow: hidden;
}

.thumbContainer p {
  padding: 65px 70px 0;
  line-height: 1.5;
  margin-bottom: 40px;
  height: 20%;
}

/* @media screen and (max-width: 700px) {
  .thumbContainer p {
    line-height: 1.6;
    padding: 0 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 20px;
  }
} */

.thumbContainer a:link,
a:visited {
  color: rgb(49, 49, 49);
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
}

.thumbContainer a:hover,
a:active {
  color: rgba(144, 143, 143, 0.748);
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .thumbContainer {
    padding: 0 20px;
  }
}

.thumbContainer img {
  display: block;
  width: 80%;
  object-fit: contain;
  max-width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 62px;
}

@media (min-width: 1280px) {
  .graphicImage {
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
    max-height: 600px !important;
  }
  img.graphicImage:last-child {
    margin-bottom: 80px;
  }
  /* Future */
  .artemis img {
  }
  .pig img {
    width: 73%;
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: -10px;
  }
  .kulak img {
    width: 62%;
  }
  .parliament img {
    width: 73%;
    bottom: -22px;
  }
  .leadership img {
    width: 72%;
    bottom: -40px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
    width: 75%;
  }
  .nikolay img {
  }
  .zoo img {
    width: 100%;
    padding-bottom: unset;
  }

  .rights p {
    position: absolute;
    bottom: 12%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 100%;
    padding-bottom: unset;
    top: -24%;
  }
  .burqa img {
    width: 50%;
  }
  .abortions img {
    width: 75%;
  }
  .independence img {
  }
  .otunbaeva img {
    width: 73%;
  }
  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 78%;
  }
  .ombudswoman p {
    display: unset;
    position: absolute;
    padding: unset;
    right: -11%;
    top: 19%;
    width: 400px;
  }
  .ombudswoman img {
    margin-left: unset;
    width: 75%;
  }
}
@media (max-width: 1279px) {
  .graphicImage {
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
    max-height: 440px !important;
  }
  img.graphicImage:last-child {
    margin-bottom: 60px;
  }
  .thumbContainer p {
    padding: 140px 15px 0;
    height: 20%;
  }
  .thumbContainer img {
    width: 100%;
  }
  /* Future */
  .artemis img {
  }
  .pig img {
    width: 73%;
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: -10px;
  }
  .kulak img {
    width: 62%;
  }
  .parliament img {
    width: 73%;
    bottom: -22px;
  }
  .leadership img {
    bottom: -40px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
  }
  .nikolay img {
  }
  .zoo p {
    position: absolute;
    top: 10%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .zoo img {
    width: 100%;
    padding-bottom: 62px;
  }

  .rights p {
    position: absolute;
    bottom: 18%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 100%;
    padding-bottom: unset;
    top: -24%;
  }
  .burqa img {
    width: 350px;
  }
  .abortions img {
  }
  .independence img {
  }
  .otunbaeva img {
  }
  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 78%;
  }
  .ombudswoman img {
    margin-left: unset;
    width: 85%;
  }
}
@media (max-width: 768px) {
  .graphicImage {
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
    max-height: 310px !important;
  }
  img.graphicImage:last-child {
    margin-bottom: 90px;
  }
  .thumbContainer p {
    padding: 140px 15px 0;
    height: 20%;
  }
  .thumbContainer img {
    width: 90%;
  }
  /* Future */
  .artemis img {
  }
  .pig img {
    width: 73%;
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: 20px;
  }
  .kulak img {
    width: 82%;
  }
  .parliament img {
    bottom: -26px;
  }
  .leadership img {
    bottom: -55px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
  }
  .nikolay img {
  }
  .zoo p {
    position: absolute;
    top: 8%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .zoo img {
    width: 100%;
    padding-bottom: unset;
    bottom: 100px;
  }

  .rights p {
    position: absolute;
    bottom: 30%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 100%;
    padding-bottom: unset;
    top: -13%;
  }

  .burqa p {
    padding: 110px 15px 0;
  }
  .burqa img {
    width: 342px;
  }
  .abortions img {
  }
  .independence img {
  }
  .otunbaeva img {
  }
  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 80%;
  }
  .ombudswoman p {
    display: unset;
    position: absolute;
    padding: unset;
    right: -11%;
    top: 15%;
    width: 400px;
  }
  .ombudswoman img {
    width: 78%;
  }
}
@media (max-width: 375px) {
  /*  */
  .thumbContainer p {
    padding: 120px 10px 0;
    line-height: 1.5;
    margin-bottom: 40px;
    height: 20%;
    font-size: 18px;
  }
  .thumbContainer img {
    width: 100%;
  }
  /* Future */
  .artemis img {
  }
  .pig img {
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: 16px;
  }
  .kulak img {
    width: 82%;
  }
  .parliament img {
    bottom: -18px;
  }
  .leadership img {
    bottom: -40px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
  }
  .nikolay img {
  }
  .zoo p {
    position: absolute;
    top: 10%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .zoo img {
    width: 100%;
    padding-bottom: unset;
    bottom: 21%;
  }

  .rights p {
    position: absolute;
    bottom: 30%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 100%;
    padding-bottom: unset;
    top: -22%;
  }
  .burqa img {
  }
  .abortions img {
  }
  .independence img {
  }
  .otunbaeva img {
  }

  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 76%;
  }
  .ombudswoman p {
    width: 300px;
  }
  .ombudswoman img {
    margin-left: unset;
  }
}

/* SMARTPHONES LANDSCAPE */

@media (max-width: 1300px) and (orientation: landscape) {
  /*  */
  .thumbContainer p {
    padding: 120px 30px 0;
    line-height: 1.5;
    margin-bottom: 40px;
    height: 20%;
    font-size: 18px;
  }
  .thumbContainer img {
    width: 30%;
  }
  /* Future */
  .artemis img {
  }
  .pig img {
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: 30px;
  }
  .kulak img {
  }
  .parliament img {
    bottom: -12px;
  }
  .leadership img {
    bottom: -40px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
  }
  .nikolay img {
  }
  .zoo p {
    position: absolute;
    top: -5%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .zoo img {
    width: 42%;
    padding-bottom: unset;
    bottom: -2%;
  }

  .rights p {
    position: absolute;
    bottom: 18%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 60%;
    padding-bottom: unset;
    top: -20%;
  }
  .burqa p {
    padding: 60px 30px 0;
  }
  .burqa img {
    width: 23%;
  }
  .abortions img {
    width: 31%;
  }
  .independence img {
    width: 34%;
  }
  .otunbaeva img {
  }
  .satellite p {
    padding: 90px 30px 0;
  }
  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 76%;
  }
  .ombudswoman p {
    width: 380px;
  }
  .ombudswoman img {
    margin-left: unset;
    width: 30%;
  }
  .left svg,
  .right svg {
    width: 40px;
  }

  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
@media (max-width: 940px) and (orientation: landscape) {
  /*  */
  .thumbContainer p {
    padding: 65px 30px 0;
    line-height: 1.5;
    margin-bottom: 40px;
    height: 20%;
    font-size: 18px;
  }
  .thumbContainer img {
    width: 22%;
  }
  /* Future */
  .artemis img {
  }
  .pig img {
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: 44px;
  }
  .kulak img {
    width: 20%;
  }
  .parliament img {
    bottom: -12px;
  }
  .leadership img {
    bottom: -40px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
  }
  .nikolay img {
  }
  .zoo p {
    position: absolute;
    top: -3%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .zoo img {
    width: 38%;
    padding-bottom: unset;
    bottom: 0;
  }

  .rights p {
    position: absolute;
    bottom: 18%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 45%;
    padding-bottom: unset;
    bottom: 20px;
  }
  .burqa p {
    padding: 50px 30px 0;
  }
  .burqa img {
    width: 18%;
    bottom: 8px;
  }
  .abortions img {
    width: 25%;
  }
  .independence img {
    width: 26%;
  }
  .otunbaeva img {
  }
  .satellite p {
    padding: 40px 30px 0;
  }
  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 76%;
  }
  .ombudswoman p {
    width: 400px;
    padding: 50px 30px 0;
  }
  .ombudswoman img {
    margin-left: unset;
    width: 26%;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  /*  */
  .thumbContainer p {
    padding: 65px 30px 0;
    line-height: 1.5;
    margin-bottom: 40px;
    height: 20%;
    font-size: 18px;
    width: 340px;
  }
  .thumbContainer img {
    width: 25%;
  }
  /* Future */
  .artemis p {
  }
  .artemis img {
  }
  .pig p {
  }
  .pig img {
  }
  .genderQuota img {
    padding-bottom: unset;
    bottom: 35px;
  }
  .kulak img {
    width: 28%;
  }
  .parliament img {
    bottom: -12px;
  }
  .leadership img {
    bottom: -40px;
  }
  .genderGap img {
    bottom: -6px;
  }
  .unicorn img {
  }
  /*  */
  /*  */
  /* Past */
  .kurmandjan img {
  }
  .nikolay img {
  }
  .zoo p {
    position: absolute;
    top: -3%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .zoo img {
    width: 45%;
    right: 30px;
    position: absolute;
    margin-right: unset;
  }

  .rights p {
    position: absolute;
    bottom: 18%;
    display: unset;
    left: 0;
    right: 0;
    text-align: center;
  }
  .rights img {
    width: 45%;
    right: 30px;
    position: absolute;
    margin-right: unset;
  }
  .burqa p {
    padding: 50px 30px 0;
  }
  .burqa img {
    width: 20%;
    position: absolute;
    left: 120px;
  }
  .abortions img {
    width: 28%;
  }
  .independence img {
    width: 33%;
  }
  .otunbaeva img {
  }
  .satellite p {
    padding: 40px 30px 0;
    width: 600px;
  }
  .satellite img {
    width: 100%;
    object-fit: cover;
    height: 76%;
  }
  .ombudswoman p {
    width: 380px;
    margin-left: auto;
    padding: 50px 30px 0;
  }
  .ombudswoman img {
    margin-left: unset;
    width: 28%;
  }
}

.swiper-wrapper .first-slide {
  width: 100vw !important;
  background-color: #fff !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-slide h1 {
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  width: 100%;
  margin-top: 100px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.description {
  font-size: 18px;
  line-height: 1.4;
  padding: 0 30%;
  text-align: center;
  margin-bottom: 50px;
  /* margin-top: 40px; */
}
.scrollable-content .description:nth-child(4) {
  margin-top: 40px;
}

@media screen and (max-width: 700px) {
  .description {
    font-size: 14px;
    padding: 0 20%;
  }
}

.timeline {
  border-top: 4px solid #241840;
  margin-bottom: 12px;
}

/* .timeline::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid rgb(49 49 49 / 86%);
  background-color: #f5f2e6;
  transition: background-color 0.3s;
  bottom: 52px;
  left: 50%;
}

.swiper-slide-active .timeline::after {
  background-color: #8c52ff;
  border-color: #8c52ff;
} */

.swiper-slide-active h2 {
  color: #d0bffd;
  transform: scale(1.1);
  transition: transform 0.5s;
}
/* animation */
@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  -webkit-animation: scroll ease 1.5s infinite;
  animation: scroll ease 1.5s infinite;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 40px;
}

.left {
  left: 50px;
}

.right {
  right: 50px;
}

@media screen and (max-width: 768px) {
  .left svg,
  .right svg {
    width: 38px;
  }

  .left {
    left: -8px;
  }
  .right {
    right: -8px;
  }
}
@media screen and (max-width: 400px) {
  .left svg,
  .right svg {
    width: 14px;
  }

  .left {
    left: -5px;
  }
  .right {
    right: -5px;
  }
}

div.timeline.absent::after {
  display: none;
}

.graphic {
  background: #ffeea145;
  height: 100%;
}

.future {
  background-color: #e0d1ff72;
  height: 100%;
}

.past {
  /* background-color: #dadada78; */

  height: 100%;
}

.swiper-slide div.thumbContainer.sources {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.swiper-slide div.thumbContainer.sources div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

button.go-to-main {
  padding: 20px 40px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  background-color: #281d42;
  color: #fff;
}

.swiper-slide[data-swiper-slide-index='10'] .thumbContainer {
  /* background-color: rgb(245, 245, 245); */
  background-color: #f4f4f4;
}
.swiper-slide[data-swiper-slide-index='9'] .thumbContainer {
  background-color: #efefef;
}
.swiper-slide[data-swiper-slide-index='8'] .thumbContainer {
  background-color: #e9e9e9;
}
.swiper-slide[data-swiper-slide-index='7'] .thumbContainer {
  background-color: #e4e4e4;
}
.swiper-slide[data-swiper-slide-index='6'] .thumbContainer {
  background-color: #dedede;
}
.swiper-slide[data-swiper-slide-index='5'] .thumbContainer {
  background-color: #d9d9d9;
}
.swiper-slide[data-swiper-slide-index='4'] .thumbContainer {
  background-color: #d3d3d3;
}
.swiper-slide[data-swiper-slide-index='3'] .thumbContainer {
  background-color: #cecece;
}
.swiper-slide[data-swiper-slide-index='2'] .thumbContainer {
  background-color: #c8c8c8;
}
.swiper-slide[data-swiper-slide-index='1'] .thumbContainer {
  background-color: #b4b4b4;
}

.swiper-slide[data-swiper-slide-index='12'] .thumbContainer {
  background-color: #e7dbff;
}
.swiper-slide[data-swiper-slide-index='13'] .thumbContainer {
  background-color: #fff8d9;
}
.swiper-slide[data-swiper-slide-index='14'] .thumbContainer {
  background-color: #dac9ff;
}
.swiper-slide[data-swiper-slide-index='15'] .thumbContainer {
  background-color: #fff4c7;
}
.swiper-slide[data-swiper-slide-index='16'] .thumbContainer {
  background-color: #ceb7ff;
}
.swiper-slide[data-swiper-slide-index='17'] .thumbContainer {
  background-color: #fff1b4;
}
.swiper-slide[data-swiper-slide-index='18'] .thumbContainer {
  background-color: #c2a5ff;
}
.swiper-slide[data-swiper-slide-index='19'] .thumbContainer {
  background-color: rgb(255 118 101 / 99%);
}

/* .burqa img {
  padding-bottom: 130px;
}
@media screen and (max-width: 700px) {
  .burqa img {
    padding-bottom: 110px;
  }
}
@media screen and (max-width: 400px) {
  .burqa img {
    padding-bottom: 90px;
  }
}

.ombudswoman img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ombudswoman p {
  position: absolute;
  width: 420px;
  top: 132px;
  right: -16px;
}

@media screen and (max-width: 800px) {
  .ombudswoman p {
    top: 175px;
  }
}
@media screen and (max-width: 700px) {
  .ombudswoman p {
    top: 140px;
    right: -46px;
  }
}
@media screen and (max-width: 400px) {
  .ombudswoman p {
    top: 70px;
    right: -57px;
  }
}

.satellite img {
  height: 100%;
  min-height: unset;
  max-width: unset;
  width: 100%;
  margin: unset;
  padding: unset;
  max-height: unset;
  object-fit: cover;
  padding-bottom: 62px;
}

.satellite p {
  position: absolute;
  z-index: 1;
  background: #ffffffde;
  padding: 12px;
  margin-top: 20px;
  width: 400px;
  border-radius: 0 10px 10px 0;
}

.thumbContainer.past.satellite {
  padding: unset;
}

.kulak img {
  max-width: unset;
  width: 380px;
  padding-bottom: unset;
} */

.scrollable-content::-webkit-scrollbar {
  display: none;
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
